body{
    
    margin: auto;
    background-image: linear-gradient(to top right,rgb(0, 0, 0),rgb(33, 33, 52));
    height: 100vh;;
}
.main{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    overflow:-x hidden;
    overflow-y: auto;
    margin: 1rem;
    box-shadow: -0.5rem -0.5rem 0.5rem rgb(55, 55, 82);
}
.main-container{
    
    overflow:-x hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.input-area{
    overflow:-x hidden;
    overflow-y: auto;
    margin: 1rem;
    width: 80%;
    font-family: 'Exo 2', sans-serif;
    padding: 2rem;
}

.main-container > textarea{
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1rem;
    width: 80%;
    font-family: 'Exo 2', sans-serif;
    padding: 2rem;

}
.live-preview-span{
    display: block;
    color: whitesmoke;
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Mooli', sans-serif;
}
.preview-area{
    overflow:-x hidden;
    overflow-y: auto;
    padding: 2rem;
    width: 80%;
    background-color: rgb(43, 54, 63);
    color: white;
    max-height: 40%;
    border-radius: 1rem;
    font-family: monospace ;
    position: relative;
}
#markdown-input{
    resize:none;
    border-radius: 1rem;
    overflow:-x hidden;
    overflow-y: auto;
    height: 20vh;
    width: 75vw;

}

#markdown-input::placeholder{

    color: black;

}
.submit{
    position: absolute;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    background-color: rgb(98, 98, 252);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.75rem;
    color: white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 500ms;
    z-index: 2;
}

.submit:hover,
.submit:focus{
    cursor: pointer;
    background-color: rgb(117, 117, 241);
    transform: scale(1.25);
}
.submit:active{
    background-color: rgba(145, 145, 242, 0.815);
    transform:  scale(1.12);
}